.card {
  padding: 10px;
}

.card-header {
  font-weight: bold;
  font-size: 20px;
  border-style: solid;
  border-width: thin;
}

.article {
  margin: 10px;
}

.column {
  float: left;
  width: 50%;
}

p {
  clear: both;
}
